body {
  margin: 0;
  padding: 0;
  background-position: center;
  height: 100vh;
  background: linear-gradient(
    347deg,
    rgba(153, 34, 195, 1) 0%,
    rgba(45, 253, 244, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  height: 100vh;
  width: 100%;
}
.in {
  height: 600px;
  width: 900px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.a1 {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-top-left-radius: 25px;
}
.a2 {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-bottom-right-radius: 25px;
}

.box1 {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-bottom-right-radius: 25px;
  transition: 5s;
  transform: translateX(450px);
}
.box2 {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-top-left-radius: 25px;
  transition: 5s;
  transform: translateX(-450px);
}

.box1r {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-top-left-radius: 25px;
  transition: 5s;
  transform: translateX(0px);
}
.box2r {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 450px;
  border-bottom-right-radius: 25px;
  transition: 5s;
  transform: translateX(0px);
}
.text, .hide {
  transition: opacity 2.3s ease-in;
}

.text {
  opacity: 1;
  position: absolute;
  z-index: 2;
}

.hide {
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.sign_card{
  width: 440px;
  border: none;
}
.sign_card .ant-card-head {
  border-bottom: none;
}
.date{
  border: 1px solid rgb(207, 207, 207);
  height: 31px;
  width: 100%;
  border-radius: 5px;
}
.date_pic{
  border:none;
  width: 347px;
}
.date_pics{
  display: flex;
  justify-content: center;
}
.date_pics:focus{
  display: flex;
  justify-content: center;
  border: none;
}
.date_pics:hover{
  border: 1px solid rgb(47, 126, 237);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.date_icon{
  /* background-color: blue; */
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(207, 207, 207);;
}



